@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Best Buy Catalog Manager</h1>
    <p class="lead">Example catalog manager developed for candidate technical assessment.</p>
    <p>Developed by <a href="http://nz.linkedin.com/in/jlvincent" target="_blank">Jack Vincent</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Question</h2>
        <p>
            Create a web application called “Catalog manager” which allows users to manage
            and maintain a Best Buy e-commerce product catalog.
            The catalog contains a hierarchy of categories which products can be assigned to.
        </p>
        <p>
            Category contains a name, other child categories, and a collection of products.
            A product contains a name, description and price.
        </p>
            Users should be able to create, update, and delete categories as well as create,
            update, and delete products under each category.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Assumptions</h2>
        <p>Design assumptions made:</p>
        <ul>
            <li>Products can belong to only one category.</li>
            <li>Products can't exist without a category.</li>
            <li>Categories can have only one parent category.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Technologies Used</h2>
        <p>Brief summary of technologies used in solution:</p>
        <ul>
            <li>MVC 5</li>
            <li>Entity Framework 6</li>
            <li>Bootstrap</li>
        </ul>
    </div>
</div>